:root {
    --text-color: rgb(126, 146, 245);
    --sun-color: var(--sun-color)
}

tr:nth-child(2n) {
    background-color: rgb(0, 92, 32);
}

table, tr, td {
    border: 2px solid;
}

thead {
    font-weight: bold;
}

body {
    background-image: url("./space.jpg");
}

strong, h1, p, table, ul, #last-modified {
    color: var(--text-color);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}